# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env
.env.local

# Media and Static files
backend/media/
backend/staticfiles/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
